.comment-bubble {
    display: inline-block;
    word-wrap: break-word;
    min-width: 40px;
    margin-top: .25rem;
    border-radius: 2px;
    padding: 7px;
    box-shadow: 0 0 1px rgb(37, 40, 48);
}
@media (max-width: 576px) {
    .comment-bubble {
        max-width: 100%;
    }
}
@media (min-width: 576px) {
    .comment-bubble {
        max-width: 90%;
    }
}
@media (min-width: 768px) {
    .comment-bubble {
        max-width: 80%;
    }
}
@media (min-width: 992px) {
    .comment-bubble {
        max-width: 75%;
    }
}
@media (min-width: 1200px) {
    .comment-bubble {
        max-width: 50%;
    }
}